*{
    margin: 0;
    padding: 0;
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
body{
    width: 100%;
    overflow-x: hidden;
    background: #051027;
}
.error{
    display:none;
}
.nav-head{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30), 0 11px 8px rgba(0, 0, 0, 0.22);
    padding-bottom: 1rem;
}
.nav-head > .img-container{
    padding-top: 10px;
    padding-left: 1rem;
    cursor: pointer;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 999;
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: .5rem;
  width: 28px;
  height: 3.5px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
  z-index: 999;
}

.menu-btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3.5px;
  background: #fff;
    border-radius: 2px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3.5px;
    border-radius: 2px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
  z-index: 999;
}

.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
background: #051027;
  list-style-type: none;
  padding-right: 1rem;
  transform: translatY(-100%);
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  transform: translateY(0);
}

.nav .menu-nav__item {

  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.open {
  transform: translateX(0);
}


.nav .menu-nav__link {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 0;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: #ff652f;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.menu-nav__item:nth-child(5) {
  transition-delay: 0.65s;
}
.title{
    padding: 2rem .5rem .5rem .5rem;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    color: #FFFFFF;
}
.sub-title{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #BDBDBD;
    padding: 5px .5rem;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}
.input-container > input{
    border: none;
    padding-left: 10px;
    width: 251px;
    height: 30px;

    background: #FFFFFF;
    border-radius: 5px;
}
main > .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
    flex-direction: row;
    z-index: -3;
}
main>.img-container > .first-img{
    width: 250px;
    height: 250px;
    animation: rotation 20s infinite linear;
}
main>.img-container > .first-im{
    position: absolute;
    margin-top: 5rem;
    margin-left: 6rem;
    width: 150px;
    height: 150px;
}

.sign-up{
    margin: 1rem 0;
    width: 10rem;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    color: #FFFFFF;
    background: #2EA44F;
    border-radius: 5px;
}
.line-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.line{
    border: 1px solid rgba(97, 97, 97, 0.44);
    margin: 1rem 0;
    width:90%;
}
.dev-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 .5rem;
    margin-bottom: 1rem;
}
.dev-number{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
}
.dev-number > .dev{
    font-size: 13px;
}
.home{
    background-color: #fff;
    width: 100%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
}
.home > div{
    width:90%;
    text-align: center;
    padding: 2rem 0;
}
a{
    color:white;
    text-decoration: none;
    text-transform: capitalize;
}

  @media screen and (min-width: 700px) {
      .error{
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #051027;
        position: fixed;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 4rem;
        font-family: Arial, Helvetica, sans-serif;
      }
      main{
        display: none;
      }
      .head-div{
        display: none;
      }
  }